{% extends "base.html" %}

{% block content %}
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0 shadow shadow-lg" src="media/bild1.png" alt="hero image" />
        </div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">RD Redovisning</h1>
            <p>Jag vill arbeta i en utmanande och tävlingsinriktad miljö, där får jag visa min kompetens och utveckling
                i min roll. Jag är ambitiös och lär mig snabbt på nya arbetsmiljön. Som person är jag alltid nyfiken på
                lära mig något nytt. Jag försöker alltid vara ärlig och hålla bra relation med kollegor.</p>
            <!-- <a class="btn btn-primary" href="#!">Call to Action!</a> -->
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center shadow shadow-lg">
        <div class="card-body">
            <h2>
                <p class="text-white m-0">Bokföring • Bokslut • Lönehantering • Moms • Deklarationsförberedelse</p>
            </h2>
        </div>
    </div>
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100 shadow shadow-lg">
                <div class="card-body">
                    <h3 class="card-title">Professionell Bokföring och Rådgivning för Ditt Företag</h3><br>
                    <p class="card-text">Behöver du hjälp med loppande bokföring, momsdeklaration eller bokslut? Tveka
                        inte att kontakta mig! Vi erbjuder expertis och stöd för att optimera din affärsutveckling. 📊💼
                    </p>
                    <p lass="card-text">Om du har fler frågor eller behöver ytterligare råd, är jag här för att hjälpa dig! 😊</p>
                </div>
                <!-- <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div> -->
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100 shadow shadow-lg">
                <div class="card-body">
                    <h3 class="card-title">Starta ditt nya företag med våra experttips!</h3><br>
                    <p class="card-text">Planerar du att öppna ett nytt företag? Vi är här för att hjälpa dig med det
                        och ge dig massor av användbara tips! 🌟</p>
                    <p class="card-text">Om du har fler frågor eller behöver ytterligare råd, tveka inte att fråga. Lycka till med ditt
                        nya äventyr! 💼🚀</p>
                </div>
                <!-- <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div> -->
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100 shadow shadow-lg">
                <div class="card-body">
                    <h3 class="card-title">Professionell Bokföring och Rådgivning för Ditt Företag</h3><br>
                    <p class="card-text">Behöver ni hjälp med momsdeklaration (april till juni) och bokföring? Tveka
                        inte att kontakta oss! Vi erbjuder expertis och stöd för att optimera er affärsutveckling. Ring
                        mig för mer information: 0762597269. Om ni har fler frågor eller behöver ytterligare råd, är jag
                        här för att hjälpa er! 😊</p>
                </div>
                <!-- <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div> -->
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card border-0 shadow">
                <div class="card-body p-4">
                    <h2 class="mb-4">Prenumerera på vårt nyhetsbrev</h2>
                    <form action="#" method="post">
                        <div class="input-group mb-3">
                            <input type="email" class="form-control" placeholder="Enter your email" aria-label="Enter your email" aria-describedby="subscribeBtn">
                            <button class="btn btn-primary" type="button" id="subscribeBtn">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}